.Cpai {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 59, 109);
  height: 100%;
  width: 100%;
  perspective: 1000px;
  background-image: linear-gradient( 45deg, rgba(127, 53, 187, 0.808)18%, rgb(84, 43, 160), rgb(35, 20, 118), rgba(13, 0, 132, 0.997) );
}

.Box{
  background-color: rgba(79, 53, 176, 0.263);
  background-image: linear-gradient(45deg, rgb(103, 9, 254));
  
}

.init{
  animation-play-state: paused;
  animation: girar2 0.3s forwards linear;
  backface-visibility: hidden;
  position: relative;
  display: flex;
  width: 30%;
  height: 40%;
  
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  z-index: 0 ;
  box-shadow: 20px 40px 70px rgb(15, 9, 27);
  .Login{
    position: absolute;
    top: 2%;
  }
}
.final{
  position: relative;
  display: flex;
  backface-visibility: hidden;
  width: 30%;
  height: 40%;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  z-index: 0 ;
  animation: girar1 0.3s forwards linear;
  box-shadow: 20px 40px 70px rgb(15, 9, 27);
  .Login{
    position: absolute;
    top: 2%;
  }
}

.init2{
  display: flex;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  height: 40%;
  width: 30%;
  animation-play-state: paused;
  transform: rotateX(-180deg);
  border-radius: 10%;
  z-index: 0 ;
  box-shadow: 20px 40px 70px rgb(15, 9, 27);
  animation: girar3 0.3s forwards linear;
}



.final2{
  display: flex;
  justify-content: center;
  position: absolute;
  transform: scaleX(-1);
  backface-visibility: hidden;
  width: 30%;
  height: 40%;
  transform: rotateX(-180);
  border-radius: 10%;
  z-index: 0 ;
  box-shadow: 20px 40px 70px rgb(15, 9, 27);
  animation: girar4 0.3s forwards linear;
}

.Caixas{
  display: grid;
  gap: 30px;
  width: 60%;
  height: 40%;
  .femail{
    position: absolute;
    top: 50px;
    scale: 0.7;
  }
  .email:focus{
    scale: 1.1;
  }
  .senha:focus{
    scale: 1.1;
  }
  .caixa{
    box-shadow: 10px 15px 30px rgb(15, 9, 27);
    border-left-color: rgb(140, 17, 255);
    border-right-color: rgb(73, 73, 255);
    font-size: 20px;
    text-indent: 5px;
    border-top: transparent;
    border-style: ridge;
    background-color: transparent;
    min-height: 90%;
    min-width: 90%;
    outline: none;
    border-bottom-color: rgb(88, 4, 167);
  }
}



  

.b1{
  position: absolute;
  width: 7%;
  height: 3%;
  bottom: 55%; 
  left: 27%;
  
}
.b2{
  position: absolute;
  display: block;
  background: transparent;
  border: transparent;
  width: 7%;
  height: 3%;
  bottom: 55%;
  left: 65%; 
}
.Botao:hover{
  transform: scale(1.1);
  filter: dropShadow(30px 20px 20px  black)
}


@keyframes girar1 {
  
  from{
    transform: rotatey(0deg);
  }to{
    transform: rotatey(-180deg);
  }
}


@keyframes girar2 {
  from{
    transform: rotatey(-180deg);
  }to{
    transform: rotatey(0deg);
  }
}

@keyframes girar3 {
  from{
    transform: rotatey(0deg);
  }to{
    transform: rotatey(180deg);
  }
}

@keyframes girar4 {
  from{
    transform: rotatey(180deg);
  }to{
    transform: rotatey(0deg);
  }
}


